.body {
  align-items: center;
  text-align: center;
}

.main {
  background-image: url("./images/rocks\ copy.png");
  background-size: 50%;
  background-color: oldlace;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.outbound-links-container {
  border: solid 2px rgb(255, 255, 255, 0.5);
  width: 400px;
  padding: 20px 20px;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  z-index: 2;
  animation: fadein 5s 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outbound-links-container > div {
  width: 100%;
  height: 140px;
  margin: auto;
  position: relative;
  border-radius: 5px;
  transition: background-color 1s;
}

.outbound-links-container > div:hover {
  background-color: rgb(255, 255, 255, 0.7);
}

.outbound-links-container > div > a > img {
  height: 40px;
  width: auto;
  position: relative;
  top: 25%;
}

@font-face {
  font-family: descriptionFont;
  src: url(./fonts/Josefin_Sans/static/JosefinSans-ExtraLight.ttf);
}

div .outbound-links-container {
  background-color: rgba(255, 253, 253, 0.6);
  border-radius: 5px;
}

#tunalogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100px;
  text-align: center;
  transition: border-bottom-right-radius 1.5s, border-bottom-left-radius 1.5s,
    border-top-right-radius 1.5s, border-top-left-radius 1.5s;
}
#Code-Text,
#Music-Text,
#Codepen-Text,
#Resume-Text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  color: black;
  font-family: descriptionFont;
  font-weight: 100;
  font-size: 20px;
  opacity: 0;
  transition: opacity 2s;
}

#Code:hover > #Code-Text,
#Music:hover > #Music-Text,
#Codepen:hover > #Codepen-Text,
#Resume:hover > #Resume-Text {
  opacity: 1;
}

#Code:hover ~ img#tunalogo {
  border-top-left-radius: 15%;
}

#Music:hover ~ img#tunalogo {
  border-top-right-radius: 15%;
}

#Codepen:hover ~ img#tunalogo {
  border-bottom-left-radius: 15%;
}

#Resume:hover ~ img#tunalogo {
  border-bottom-right-radius: 15%;
}

#tunaheaderlogo {
  animation: intro 5s 1;
  position: fixed;
  z-index: 42;
  top: 10%;
  left: 7%;
  width: 20%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 253, 253, 1);
  transition: background-color 1s;
  opacity: 0%;
}

@keyframes intro {
  0% {
    top: 10%;
    left: 50%;
    opacity: 100%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  55% {
    top: 50%;
    left: 50%;
    opacity: 100%;
  }
  100% {
    top: 10%;
    left: 7%;
    opacity: 0%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
    grid-gap: 250px;
  }
  55% {
    visibility: 20%;
    grid-gap: 150px;
  }
  100% {
    opacity: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    background-size: cover;
    background-repeat: repeat-y;
  }
  #tunalogo {
    top: 0%;
  }
  .outbound-links-container {
    width: 60%;
  }
}
